{% include 'header.html' %}
{% include 'progressbar.html' %}
<div class="page-section">
    <div class="fes1-cont text-center wow fadeIn">
        <div class="font-32 font-black sm-mt-40 sm-mb-40">
            이번 여행은
            <br><br>
            <b id="changingTag" class="underline">                   </b> 여행이고 싶다.
        </div>
        <div class="sm-mt-40 sm-mb-40">
            <button class="button medium thin blue btn-margin btn-square">힐링되는</button>
            <button class="button medium thin blue btn-margin btn-square">열정적인</button>
            <button class="button medium thin blue btn-margin btn-square">유익한</button>
        </div>
        <div class="sm-mt-40 sm-mb-40">
            <button id="nextBtn" class="button medium thin blue btn-margin ">다음</button>
            <br>
            <a id="prevBtn" class="text-underline" href="javascript:window.history.go(-1);">뒤로 가기</a>
        </div>
    </div>
</div>
<!-- JS begin -->
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    // 처음 화면 배경에 맞는 컬러 배색으로 구현하고자 함
    // if (sessionStorage.getItem('num')) {
    //     var bg_num = sessionStorage.getItem('num');
    //     console.log(bg_num);
    // }
    $('li:eq(0)').addClass("firstChild");

    // 문구 변경 관련 제이쿼리
    var existingText = $('#changingTag').text();

    $(".btn-square").on({ //이벤트 바인딩
        mouseenter: function () {
            var innerText = $(this).text();
            $('#changingTag').html('   ' + innerText + '   ');
        },
        mouseleave: function () {
            $('#changingTag').html(existingText);
        },
        click: function () {
            var innerText = $(this).text();
            $('#changingTag').html('   ' + innerText + '   ');
            existingText = '   ' + innerText + '   ';

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
            };  
        }
    })

    // 다음 버튼 
    $("#nextBtn").on("click", function () {
        var sentiment = $('#changingTag').text().trim();
        sessionStorage.setItem("sentiment", sentiment);
        location.href = '/2';
    })
</script>